.list-item {
  padding: 18px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: background-color 0.1s ease;
  gap: 4px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 0px;
    height: 1px;
    background-color: var(--border);
  }

  .list-label {
    font-size: 17px;
    font-weight: 400;
    color: var(--ink);
  }

  .list-value {
    font-size: 15px;
    font-weight: 400;
    color: var(--muted);
  }
}

.list-item--col {
  align-items: flex-start;
  gap: 8px;
}

.list-item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.list-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 6px;
}

.list-item--value-on-checked .list-value--conditional {
  display: none;
}

.list-item--value-on-checked:has(.toggle-switch input:checked) .list-value--conditional {
  display: block;
}

.list-body {
  width: 100%;
  display: flex;
  > * {
    width: 100%;
  }
}

.list-item.clickable {
  cursor: pointer;
  padding-right: 44px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &::before {
    content: "chevron_right";
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: var(--border);
    font-family: "Material Symbols Rounded";
    font-size: 22px;
    pointer-events: none;
  }
}
