section {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    margin: 0 0 4px 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--accent);
  }
}

.section .card + .card {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.section .card:not(:last-child) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
