section {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    margin: 0 0 4px 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--accent);
  }
}

.collapsible-group {
  display: contents;

  &.is-hidden {
    display: none;
  }
}

.section {
  .card + .card,
  .card + .collapsible-group:not(.is-hidden) .card {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .card:has(+ .collapsible-group:not(.is-hidden)) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .card:not(:last-child):not(:has(+ .collapsible-group)) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
